:root{
    --theme-black:#20232e;
    --theme-orange:#f48840;
    --theme-grey:#7a7a7a;
    --theme-white:#fff;
    --theme-border:#e8e8eb99;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto';
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}
.align-item-baseline{
    align-items: baseline;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 100%;
    padding: 0 10px;
}
.col-8{
    width: 66.66%;
    padding: 0 10px;
}
.col-4{
    width: 33.33%;
    padding: 0 10px;
}
.col-6{
    width: 50%;
}
.mb-2{
    margin-bottom: 2rem;
}
.divider-50h {
    height: 50px;
}

.mr-r{
 
    margin-right: 10px;
}
.mr-l{
    margin-left: 10px;
}

/* style.css */

/* Basic styling for the navbar brand */


/* Styling for navigation links */
header{
    background-color: #f7f7f7;
    margin: 10px;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

header .navigation .logo h2{
    font-size: 24px;
    color: var(--theme-black);
    font-weight: 800;
}

header .navigation .logo h2 span{
    font-size: 50px;
    color: var(--theme-orange);
    font-weight: 800;
}

header .navbar-nav .nav-link {
  color: var(--theme-black);
  transition: 0.3s ease;
  margin-left: 20px;
  font-weight: 800;
}

header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link.active {
  color:var(--theme-orange);
  
  
}

header .navbar-toggler-icon{
    background-image: url(../images/menu.png);
    height: 20px;
    width: 20px;
}
header .navbar-toggler{
    height: 40px;
    width: 40px;
  
    padding: 5px;
    border-radius: 2px;
}

/* ==== SLIDER STYLING ==== */
.swiper-wrapper {
  width: 100%;

 
}

.swiper-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  
}

.swiper {
  
  padding: 5px;
  box-sizing: border-box;
}

.swiper img {
  width: 100%;
height: auto;
}

  .swiper-button-next,
    .swiper-button-prev {
      color: var(--theme-white);
      background-color: #f7f7f747;
      height: 50px;
      width: 50px;
    
     
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 18px;
      font-weight: bold;
      
    }

    .swiper-wrapper .swiper-slide .data{
         position: absolute;
    bottom: 0;
    padding: 30px;
    text-align: center;
    width: 80%;
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.swiper-wrapper .swiper-slide .data h3{
    color: var(--theme-orange);
    font-size: 18px;
text-transform: uppercase;
font-weight: 900;

}
.swiper-wrapper .swiper-slide .data a h4{
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--theme-white);
}
.swiper-wrapper .swiper-slide .data span a{
    font-size: 16px;
    color: var(--theme-white);
}
.swiper-wrapper .swiper-slide .data span a::after{
    content: "|";
    margin-left: 5px;
}
.swiper-wrapper .swiper-slide .data p span:last-child a::after{
    content: "";
    margin-left: 5px;
}
.swiper-pagination{
    display: none;
}



.template{
    background-image: url(../images/cta-bg.jpg);
    width: 100%;
    flex-direction: row;
    padding: 40px;
    margin-top: 80px;
    align-items: center;
    
    
}
.template .template-data h2{
    color: var(--theme-orange);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}
.template .template-data h3{
    color: var(--theme-white);
    font-size: 26px;font-weight: 800;

}

.template .btn a{
    background-color: var(--theme-orange);
    padding: 15px ;
    color: var(--theme-white);
    font-weight: bold;
    font-size: 12px;
}
    
.blog-posts{
    margin-top: 80px;
}
.blog-posts .blog-post .data{
    text-align: justify;
    padding: 40px;
    border: 1px solid  var(--theme-border);


}
.blog-posts .blog-post img{
    width: 100%;
    
}

 .blog-posts .blog-post .data h3{
    color: var(--theme-orange);
    font-size: 18px;
text-transform: uppercase;
font-weight: 900;

}
 .blog-posts .blog-post .data h4{
    font-weight: 900;
    font-size: 20px;
   
    color: var(--theme-black);
    margin: 15px 0;
}
 .blog-posts .blog-post .data span a{
    font-size: 14px;
    color: var(--theme-grey);
}
 .blog-posts .blog-post .data span a::after{
    content: "|";
    margin-left: 5px;
}
 .blog-posts .blog-post .data p span:last-child a::after{
    content: "";
    margin-left: 5px;
}
.blog-posts .blog-post .data .detail{
    border-bottom: 1px solid var(--theme-border);
    border-top: 1px solid var(--theme-border);
    padding: 20px 0;
    color: var(--theme-grey);
    text-align: justify;
    font-size: 15px;
    line-height: 2;
}

/* Optional: Add some spacing to the right side of the navbar */

